/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
    box-sizing: border-box;
}

img, video {
    max-width: 100%;
}

html, body {
    overflow-x: hidden;
    width: 100%;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
    --rood: #c4001a;
    --zwart: #000000;
    --zwart-kaart: #0b0b0b;
    --zwart-licht: #1a1a1a;
    --wit: #ffffff;
    --grijs: #a5a5a5;
    --grijs-2: #3d3c3c;
    --donker-blauw: #2c3e50;
    --lijntje: rgba(255, 255, 255, 0.2);
    --font-titel: "gotham", sans-serif;
    --font-tekst: Arial, Helvetica, sans-serif;
}

/*classes ook hier toevoegen*/

.swiper {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    list-style: none;
    margin: 0;
    scrollbar-width: none;
}

.swiper::-webkit-scrollbar {
    display: none;
}

.btn-rood {
    display: inline-block;
    background-color: var(--rood);
    color: var(--wit);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.8rem;
    border-radius: 4px;
    padding: 0.8rem 1.5rem;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
}








/* ALGEMENE STIJL */
body {
    background-color: var(--zwart);
    color: var(--wit);
    margin: 0;
    padding: 0;
    font-family: var(--font-tekst);
}

h2, h3, h4, button, a {
    font-family: var(--font-titel);
}

p {
    font-family: var(--font-tekst);
    font-weight: 400;
    font-size: 0.96rem;
    letter-spacing: 0.1em;
    line-height: 1.4em;
    color: var(--grijs);
}

h1 {
    position: absolute;
    left: -9999px;
}

/* HEADER  */
header nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
 
header nav img {
    height: 2rem;
}

header nav a:last-child {
    color: white;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid var(--lijntje);
    padding: 0.6rem 1rem;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
}

header {
    position: relative;
    min-height: 100vh;
    height: auto;
    padding-bottom: 5rem;
    box-sizing: border-box;
    overflow: hidden;
}

header video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: contain;
    z-index: 0;
}

header article {
    position: relative;
    margin-top: 75vh;
    left: 5vw;
    z-index: 10;
    width: 90%;
    max-width: 400px;
}

header article > p:first-of-type {
    display: inline-block;
    background-color: var(--grijs-2);
    color: var(--wit);
    font-size: 0.8rem;
    padding: 0.2rem 0.4rem;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 0.9px;
    border-radius: 5px;
}

header article h2 {
    font-size: 1.7rem;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1;
    margin: 0;
    color: var(--wit);
}

header article a {
    display: block;
    text-decoration: none;
    border: 1px solid #333;
    border-radius: 4px;
    margin-top: 4rem;
    padding: 1rem 0rem 3rem 1rem;
    position: relative;
    transition: border-color 0.3s;
}

header article a h3 {
    margin: 0 0 0.1rem 0;
    color: var(--wit);
    font-size: 0.75rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}

header article a p {
    padding: 0;
    margin: 0;
    font-size: 0.65rem;
    color: var(--grijs);
    text-transform: uppercase;
    font-weight: 400;
}

header article a::after {
    content: "↗";
    position: absolute;
    right: 1.5rem;
    top: 0.5rem;
    right: 0.5rem;
    background-color: white;
    color: #cc0000;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1rem;
}

/* section 1 het eerste met knop */
section:first-of-type {
    margin-left: 1rem;
        margin-right: 1rem;
}

section:first-of-type h2 {
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--wit);
}

section:first-of-type p {
    font-size: 0.83rem;
    letter-spacing: 0.05rem;
    }

section:first-of-type button {
    display: flex;
        justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    background-color: var(--zwart-licht);
    border: none;
    outline: none;
    box-shadow: none;
    color: var(--wit);
    font-weight: 800;
    font-size: 0.85rem;
    border-radius: 0.2rem;
    width: 15rem;
    max-width: 300px;
    padding: 0.8rem 1rem;
    margin-top: 1rem;
    cursor: pointer;
}

section:first-of-type button::after {
    content: "↓";
    background-color: var(--grijs-2);
    width: 1.3rem;
    height: 1.3rem;
    align-items: center;   
    justify-content: center;
    display: flex;
}

/* section 2 kleuren */
section:nth-of-type(2) {
    display: flex;
    margin-top: 3rem;
    flex-wrap: wrap;     
    margin-left: 1rem; 
    justify-content: left;
}

section:nth-of-type(2) h3 {
    width: 100%;       
    color: var(--grijs);
    font-size: 0.9rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    text-align: left;
}

section:nth-of-type(2) img {
    width: 15px;
    height: 15px;
    margin-right: 1rem;   
}

section:nth-of-type(2) p {
    color: var(--wit);
    font-size: 0.80rem;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0;
}

/* scetion 4 techs specs  */
section:nth-of-type(3) {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box; 
    padding: 0 20px; 
    align-items: flex-start; 
    text-align: left;
}

section:nth-of-type(3) h2 {
    font-size: 0.75rem;
    color: #999;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    margin-left: 0;
}

section:nth-of-type(3) > p {
    font-size: 1rem;
    color: var(--wit);
    text-transform: uppercase;
    margin: 0;
}

section:nth-of-type(3) figure {
    width: 100%;
    max-width: 300px;
    margin: 1rem 0 0 0; 
    padding: 0;
}

section:nth-of-type(3) figure img {
    width: 100%;       
    height: auto;
    display: block;
}

section:nth-of-type(3) figcaption {
    display: flex;              
    justify-content: space-between; 
    width: 100%;
    margin-top: 5px;            
}

section:nth-of-type(3) figcaption p {
    font-size: 0.9rem;    
    color: #888;          
    text-transform: uppercase;
    font-weight: 400;     
    margin: 0;
}

/* section 4 de schoenen*/
section:nth-of-type(4) {
    color: white;            
    padding: 3rem 1rem;      
    overflow: hidden;
    text-align: left;      
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
}

section:nth-of-type(4) h5,
section:nth-of-type(4) h2 {
    display: none; 
}

section:nth-of-type(4) ul {
    list-style: none;        
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column; 
    align-items: flex-start;     
    gap: 40px; 
    width: 100%;
}

section:nth-of-type(4) li {
    width: 100%;
    max-width: 400px;        
    display: flex;
    justify-content: flex-start; 
}

section:nth-of-type(4) img {
    width: 100%;             
    height: auto;            
    display: block;          
}

section:nth-of-type(4) img:hover {
    transform: scale(1.05);   
    filter: brightness(1.2);  
}

/* section 5 foto video */
section:nth-of-type(5) {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 1rem; 
    margin: 0;
    overflow: hidden;
    align-items: center; 
}

section:nth-of-type(5) img {
    width: 100%;
    height: auto; 
    display: block;
    object-fit: cover;
    margin-bottom: 1rem;
}

section:nth-of-type(5) video {
    width: 100%;
    display: block;
    object-fit: cover; 
    height: 28rem;  
}

section:nth-of-type(5) h5 {
    display: none;
}

/* section 6 slider */
section:nth-of-type(6) {
    background-color: black;
    color: white;
    padding: 4rem 0; 
    overflow: hidden;
}

section:nth-of-type(6) > h3,
section:nth-of-type(6) > h2,
section:nth-of-type(6) > p {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
section:nth-of-type(6) > h3 { 
    color: var(--wit); 
    font-size: 1.1rem; 
    text-align: start; 
    margin-bottom: 4rem;
}

section:nth-of-type(6) > h2 { 
    font-size: 1.8rem; 
    margin: 0 0 0rem 0; 
    text-transform: uppercase;
    text-align: center;
}

section:nth-of-type(6) > p { 
    color: #ccc; 
    font-size: 0.9rem; 
    line-height: 1.6; 
    margin-bottom: 1rem; 
}

section:nth-of-type(6) ul {
 padding: 0 10vw 2rem 10vw; 
    margin: 2rem 0 0 0;
}

section:nth-of-type(6) li {
    flex: 0 0 auto;
    scroll-snap-align: center;
}

section:nth-of-type(6) article {
    position: relative;
    width: 80vw; 
    max-width: 350px;
    height: 500px;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

section:nth-of-type(6) article img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

/* overlaay*/
section:nth-of-type(6) article::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60%;
    background: linear-gradient(to top, rgba(0,0,0,0.9), transparent);
    z-index: 1;
    pointer-events: none;
}

/*  Tekst stijl  */
section:nth-of-type(6) article h3 {
    position: relative;
    z-index: 2;
    color: white;
    font-size: 1.4rem; 
    font-weight: 800;  
    text-transform: uppercase;
    line-height: 1.1; 
    margin: 0 0 0.5rem 0;
    padding: 0 1.5rem;
    text-align: left;
}

section:nth-of-type(6) article p {
    position: relative;
    z-index: 2;
    color: #e0e0e0; 
    font-size: 0.95rem;
    line-height: 1.4;
    margin: 0 0 2rem 0;
    padding: 0 1.5rem;
    text-align: left; 
}


/* section 7 at pro boot --- */
section:nth-of-type(7) {
    color: white;
    padding: 0 1.25rem 3rem 1.25rem;
}

section:nth-of-type(7) img {
    width: 100%;
    display: block;
    margin-bottom: 1.5rem;
    border-radius: 6px;
}

section:nth-of-type(7) h3 {
    color: #ffffff;
    font-size: 0.65rem;
    font-weight: 500;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: left;
    display: inline-block;
    padding: 0.3rem 0.8rem;
    background-color: var(--grijs-2);
    border-radius: 3px;
}

section:nth-of-type(7) h2 {
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.01em;
    line-height: 1.15;
    margin: 0 0 1.5rem 0;
    text-align: left;
}

section:nth-of-type(7) p {
    color: #b8b8b8;
    font-size: 0.9rem;
    font-weight: 300;
    line-height: 1.6;
    margin: 0;
    text-align: left;
}

/* full specs section 8 */
section:nth-of-type(8) {
    background-color: black;
    color: white;
    padding: 0 1.5rem; 
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

/* algemene opmaak  */
section:nth-of-type(8) > section,
section:nth-of-type(8) details {
    padding: 1rem 0;          
    border: none; /* Alle lijnen weggehaald */
    width: 100%;
}

/* tiel full specs */
section:nth-of-type(8) h2 {
    font-size: 0.9rem;     
    font-weight: 700;       
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0;
    cursor: pointer;
    color: white;
    text-align: left; /* De titels blijven wel links staan */
}

/* -de uitklap summeray */
section:nth-of-type(8) summary {                /*https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/details*/
    list-style: none;                           /* Ik heb opgezocht hoe ik elementent kan in en uit klikken met alleen css en dan kom je op de summary tag */
    display: flex;                              /* Ik heb chapgpt.com gevraag hoe je dit zou kunnen toepassen*/
    justify-content: space-between; 
    align-items: center;
    cursor: pointer;
    width: 100%;
    outline: none;
    padding-bottom: 1.5rem; 
}
section:nth-of-type(8) summary::-webkit-details-marker { display: none; }

/* plusje */
section:nth-of-type(8) summary::after {
    content: "+";       
    font-size: 1.5rem;
    font-weight: 300;
    color: white;
    transition: transform 0.3s ease;
}

/*  min streepje */
section:nth-of-type(8) details[open] summary::after {
    content: "-";
}

/* de tabel */
section:nth-of-type(8) table {
    width: 100%;
    margin-top: 0;
    border-collapse: collapse;
    
    /* Gecentreerde tekst zoals op screenshot */
    text-align: center; 
    
    font-size: 0.9rem;
    animation: verschijnen 0.5s ease;
}

/* --- TABEL KOPJES (WIT & DIK) --- */
section:nth-of-type(8) thead th {
    border: none; 
    padding: 0.5rem 0;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 700; 
    color: white;     
}

/* --- TABEL DATA (GRIJS) --- */
section:nth-of-type(8) tbody td {
    border: none; 
    padding: 0.3rem 0; 
    color: #999;  
    font-weight: 400;
}

@keyframes verschijnen {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
}


/*section 9 is gewoon copy paste van pagina 1*/
section:nth-of-type(9) {
    width: 100%;
    background-color: var(--zwart);
    padding: 3rem 0;
    overflow: hidden;
}

section:nth-of-type(9) h2 { 
     text-transform: uppercase;
      padding-left: 1.5rem;
      font-size: 1.1rem;
}

/* De slider zelf (UL) */
section:nth-of-type(9) > ul {
gap: 1rem;
    padding: 1.3rem;
    margin: 0;
}

/* De losse items (LI) in de slider */
section:nth-of-type(9) > ul > li {
    position: relative;
    flex: 0 0 80vw;
    height: 30vh;
    scroll-snap-align: center;
    border-radius: 0px;
    overflow: hidden;
    background-color: var(--zwart-licht);
}

/* De afbeelding in de slider items */
section:nth-of-type(9) > ul > li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* De tekst over de afbeelding */
section:nth-of-type(9) > ul > li p {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    margin: 0;
    color: var(--wit);
    font-size: 1.4rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-family: Arial, Helvetica, sans-serif;
}


    section:nth-of-type(9) > ul > li {
        flex: 0 0 50vw;
        height: 60vh;
    }
    
    section:nth-of-type(9) > ul > li p {
        font-size: 3rem;
        left: 3rem;
    }


/* 10 Section 9 laatste nieuws */
section:nth-of-type(10) {
    padding: 1.25rem 1rem; 
    font-family: sans-serif;
    box-sizing: border-box; 
}

/*  De Titel Where to find us  */       /*zet bronnen nog neer!*/
section:nth-of-type(10) > h3 {
    color: var(--wit);      
    margin: 0 0 2.8rem 0;   
    font-size: 1rem;        
    letter-spacing: 0.1em;  
    text-transform: uppercase; 
}

/* --- De Kaart (Het blokje per foto) --- */
section:nth-of-type(10) article {
    position: relative;     
    height: 15rem;      
    margin-bottom: 1.1rem;  
    display: flex;
    align-items: flex-end;  
    padding: 1rem;     
    box-sizing: border-box; 
    overflow: hidden;       
}

/* --- De Afbeelding --- */
section:nth-of-type(10) article img {
    position: absolute;    
    top: 0;
    left: 0;
    width: 100%;            
    height: 100%;         
    object-fit: cover;      
    z-index: 1;             
}

/* --- De Donkere Overlay (Schaduw) --- */
section:nth-of-type(10) article::after {
    content: '';            
    position: absolute;     
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    /* Het verloopje van zwart (onder) naar doorzichtig (midden) zodat tekst leesbaar is */
    background: linear-gradient(to top, rgba(0,0,0,0.7), transparent 50%);
    
    z-index: 2;             
}

/* De Link Tekst find retailer */
section:nth-of-type(10) article a {
    position: relative;     
    z-index: 3;           

    color: var(--wit);
    text-decoration: none;  
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 1px;
}

    
/* --- FOOTER --- */
footer {
    background-color: var(--zwart);
    color: var(--wit);
    padding: 3rem 1rem;
    font-family: var(--font-tekst);
}

footer h4 {
    color: #888;
    font-size: 0.8rem;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 0.80rem;
    margin-top: 2rem;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer li {
    margin-bottom: 0.8rem;
}

footer a {
    color: var(--wit);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.05rem;
    font-size: 0.8rem;
}

footer select {
    width: 100%;
    background-color: var(--zwart);
    color: var(--wit);
    border: 1px solid #444;
    padding: 0.8rem;
    font-size: 1rem;
    margin-bottom: 2rem;
    font-family: var(--font-tekst);
    cursor: pointer;
}

footer nav:nth-of-type(4) {
    margin-top: 3rem;
}

footer nav:nth-of-type(4) ul {
    display: flex;
    gap: 1.5rem;
}

footer nav:nth-of-type(4) img {
    width: 1.2rem;
    height: 1.2rem;
    object-fit: contain;
    opacity: 0.8;
}

footer nav:nth-of-type(5) ul {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem 1.5rem;
}

footer nav:nth-of-type(5) a {
    font-size: 0.85rem;
    text-transform: capitalize;
    line-height: 1.4;
}

footer p {
    color: #666;
    font-size: 0.8rem;
    margin-top: 2rem;}


    /*responsive voor pc*/

@media (min-width: 900px) {
    header article {
        position: relative;
        width: 100%;
        height: 100vh; /* De article beslaat nu de hele video-hoogte */
        max-width: none;
        left: 0;
        margin: 0;
        padding: 0 5.5rem;
    }

    /* plaatste de tekst links hoger --- */
    header article > p:first-of-type,
    header article h2 {
        position: absolute;
        left: 5.5rem;
    }

    /* De grijze balk (Kort) */
    header article > p:first-of-type {
        top: 30vh; 
        width: fit-content;
        background-color: #333;
        padding: 0.2rem 0.6rem;
        font-size: 0.65rem;
        text-transform: uppercase;
        border-radius: 2px;
    }

    /* De titel PRO BOOT */
    header article h2 {
        top: calc(35vh + 1.5rem); 
        font-size: 2.8rem;
        margin: 0;
        line-height: 0.9;
    }

    /* find the store rechts wordt uitgelijn --- */
    header article a {
        position: absolute;
        right: 1rem;
        bottom: 1rem; 
        
        width: 12rem;
        padding: 0.8rem 1rem;
        background: transparent;
        border: 1px solid #333;
        display: flex;
        flex-direction: column;
        gap: 0.1rem;
        text-decoration: none;
    }


  /*  DE SCHOENEN */
    section:nth-of-type(4) {
        float: left;
        width: 45%;
        margin-left: 5.5rem;
        position: relative;
        margin-top: -55rem; 
        padding: 0;
    }

    section:nth-of-type(4) ul {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        list-style: none;
        padding: 0;
    }

    /*  duwt alle tekst-secties naar rechterkant */
    section:nth-of-type(1),
    section:nth-of-type(2),
    section:nth-of-type(3) {
        margin-left: 55%; 
        width: 35%;
        padding-right: 5.5rem;
        clear: none; 
    }

    /*  Specs layout in Sectie 3 --- */
    section:nth-of-type(3) {
        display: grid;
        grid-template-columns: 1fr 1fr; 
        gap: 1.5rem;
        margin-top: 3rem;
    }

    /* De lijin over de volle breedte van de rechterkolom */
    section:nth-of-type(3) figure {
        grid-column: span 2;
        width: 100%;
        margin: 1.5rem 0;
    }

    section:nth-of-type(3) figcaption {
        display: flex;
        justify-content: space-between;
        color: #888;
        font-size: 0.8rem;
    }

    /* flex onderaan voor breedte */
    section:nth-of-type(3) h2:last-of-type,
    section:nth-of-type(3) h2:last-of-type + p {
        grid-column: span 2;
        margin-top: 1rem;
    }

    /* titel setion 1*/ /*kan naar boven */
    section:nth-of-type(1) h2 {
        font-size: 2.5rem;
        line-height: 1.1;
        margin-bottom: 1.5rem;
    }   

/* ---section 5 video langer maken en img kleiner en naast elkaae met  --- */
section:nth-of-type(5) {
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    align-items: flex-start; 
    width: 100%;
    padding: 0 5.5rem;
    margin: 4rem 0;
    gap: 2rem; 
    overflow: hidden;
}

section:nth-of-type(5) img {
    width: 40%; 
    height: auto; 
    object-fit: cover;
}

section:nth-of-type(5) video {
    width: 60%; 
    height: 45rem;  
    display: block;
    object-fit: cover; 
}

section:nth-of-type(5) h5 {
    display: none;
}

/*sliderer groter*/

section:nth-of-type(6) > h3 {
        margin-left: 5.5rem; 
        text-align: left;
    }

    section:nth-of-type(6) > h2{
            margin-left: 36%; 
    }

    section:nth-of-type(6) > p {
        margin-left: 40%;    
        max-width: 50rem;
        color: var(--grijs);
    }

   /* 1. dat er niks gebeurdt met de container */
    section:nth-of-type(6) {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    /* 2. De Slider  over de hele breedte */
    section:nth-of-type(6) ul {
        padding-left: 5.5rem;  
        padding-right: 5.5rem; 
        gap: 40px;             
        width: 100%;
    }

    /* 3. de afbeeldingen in d (Article) veel breder maken */
    section:nth-of-type(6) article {
        width: 70em;         
        height: 50rem;       
        max-width: 100vw;       
    }

    /* 4. Tekst in de kaarten aanpassen aan de breedte */
    section:nth-of-type(6) article h3 {
        font-size: 2.5rem;     
        max-width: 80%;    }    

section:nth-of-type(7) {
        display: grid;
        grid-template-columns: 35rem 1fr;
        grid-template-rows: 1fr auto auto auto; 
        
        padding: 5rem 5.5rem;
        column-gap: 5rem;
        background-color: black;
        align-items: end; 
    }

    /* 1. DE AFBEELDING (Rechts) */
    section:nth-of-type(7) img {
        grid-column: 2;
        grid-row: 1 / span 4; /* Loopt over de hele hoogte */
        width: 80%;
        margin-left: 10rem;
        height: auto;
    }

    /* Dde tekst */
    section:nth-of-type(7) h3,
    section:nth-of-type(7) h2,
    section:nth-of-type(7) p {
        grid-column: 1;
        margin: 0;
        margin-bottom: 10rem;
        padding: 0;
    }

    section:nth-of-type(7) h3 {                             
        margin-top: auto;             /* Dit zet alles beneden naast de skischoen */
        margin-bottom: 0.5rem;
        background-color: #333;
        color: white;
        padding: 0.3rem 0.8rem;
        width: fit-content;
        font-size: 0.7rem;
    }

    section:nth-of-type(7) h2 {
        font-size: 3.2rem;
        line-height: 0.95;
        text-transform: uppercase;
        margin-bottom: 1.5rem;        
    }

    section:nth-of-type(7) p {
        font-size: 1rem;
        line-height: 1.5;
        color: #b8b8b8;
        max-width: 30rem;
    }

    /*fullspecs 8*/
section:nth-of-type(8) > h2 {
        margin: 0;
        padding-left: 5rem;        
        margin-bottom: 3rem;
        font-size: 1rem;
        text-transform: uppercase;
        color: var(--wit);
    }

    /* De h2 zelf */
    section:nth-of-type(8) details summary h2 {
        display: inline-block;           /* Zorgt dat hij zich als een blokje in het midden*/
        margin: 0;
        margin-left: 60rem;
        padding: 2rem 0;
        font-size: 1.8rem;
        text-transform: uppercase;
        color: white;
    }

    section:nth-of-type(9) > h2 {
        margin-left: 4rem;
    }

    section:nth-of-type(9) > ul > li {
        flex: 0 0 35vw;
        flex-direction: column;
        height: 40vh;
        left: 4em;
    }
    
    section:nth-of-type(9) > ul > li p {
        font-size: 1.8rem;
        left: 2rem;
    }

    
     /* 1. De laatste 3 afbeelding copy paste pagina 1) */
    section:nth-of-type(10) {
        padding: 4rem 5.5rem; 
        display: grid;
        grid-template-columns: 1.2fr 1.2fr; 
        gap: 1rem; 
        align-items: stretch;
        box-sizing: border-box;
    }

    /* 2. De Titel (H3) */
    section:nth-of-type(10) > h3 {
        grid-column: 1 / -1;  /* Neemt de volledige breedte in boven de twee kolommen */
        margin-bottom: 2rem;
        font-size: 1rem;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: var(--wit);
    }

    /* 3. de 3 afbeelding in de article */
    section:nth-of-type(10) article {
        height: auto; 
        margin-bottom: 0;
        position: relative;
    }

    /* de foto links */
    section:nth-of-type(10) article:first-of-type {
        grid-column: 1;
        grid-row: 2 / 4; 
        aspect-ratio: 1 / 1; /*voor vierkante vorm*/
    }

    /* de 2 afbeeldingen rechts */
    section:nth-of-type(10) article:nth-of-type(2),
    section:nth-of-type(10) article:nth-of-type(3) {
        grid-column: 2;
        aspect-ratio: 2 / 0.97; 
    }

    /* 4. De Tekst in de foto's */
    section:nth-of-type(10) article a {
        font-size: 1.1rem;
        padding-left: 1.5rem;
        padding-bottom: 1.5rem;
    }


    footer {
        padding: 5rem 5.5rem 3rem 5.5rem; /* Ruimte aan de zijkanten */
        display: grid;
        grid-template-columns: 1fr 1fr 2fr;    /* verdeling van de tekst */
        gap: 2rem;
    }

    /* De social icons  */
    footer nav:nth-of-type(4) {
        grid-column: 1 / -1;         /* Over de hele breedte van de grid */
        margin-top: 5rem;
        display: flex;
        justify-content: space-between; /* Drukt icons links en select rechts */
        align-items: center;            
    }

    /* De lijst met icoontjes */
    footer nav:nth-of-type(4) ul {
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
        padding: 0;
        margin: 0;
        list-style: none;
    }

    /* De engelse knop */
    footer nav:nth-of-type(4) select {
        width: 240px;                   /* Breedte zoals op de afbeelding */
        padding: 0.7rem 1rem;
        background-color: transparent;
        color: var(--wit);
        border: 1px solid #444;        /* Het grijze randje van de afbeelding */
        font-family: var(--font-tekst);
        font-size: 0.85rem;
        cursor: pointer;
        margin-left: auto; 
    }

    /*  De footer en dan met name de onderste balk */
    footer nav:nth-of-type(5) {
        grid-column: 1 / -1;
        margin-top: 2.5rem;
        padding-top: 2rem;
        border-top: 1px solid #222;
        
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    footer nav:nth-of-type(5) ul {
        display: flex;
        gap: 2rem;
    }

    footer p {
        margin: 0;
        color: #666;
        font-size: 0.8rem;
        text-align: right;
    }
}
